body, html { 
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body {
    font-size: 100%;
    overflow: hidden;
}
section {
    background: #C1DCFF;
    background-image: -moz-linear-gradient(rgba(255,255,255,0), white 50%);
    width: 90%;
    height: 90%;
    max-height: 90%;
    padding: 5%;
    font-size: 120%;
}
h1, h2, h3 {
    text-align: center;
    margin: 2% 0;
}
h1 { font-size: 250%; }
h2 { font-size: 150%; }
h3 { font-size: 120%; }

section .b {
    display: block;
    margin: 1em auto;
}
section p {
    text-align: center;
    margin: 3% auto;
}
section div {
    margin: 3% 0;
}
section li {
    margin: 1% 0;
}
img {
    vertical-align: middle;
}
header, footer {
	width: 100%;
	position: fixed;
	z-index: -1;
}
header {
	top: 0;
}
footer {
	font-size: 80%;
	bottom: 0;
	text-align: center;
	z-index: 1;
}
#slidenum {
	float: right;
	color: rgba(0,0,0,.5);
	margin: 1%;
}